/* Feel free to modify anything in this file.*/
html body {
	background-color: #ffffff;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header-photo {
	width: 100%;
	max-width: 1000px;
	min-height: auto;
	flex: 0 1 auto;
}

.vendor-wrapper {
	justify-content: center;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #b7b7a4;
}

.vendor-photo {
	height: 200px;
	text-align: center;
}

.vendor-book-button {
	font-size: 2em;
}

.content-pane {
  padding: 40px;
	text-align: center;
}

.col {
	background-color: #b7b7a4;
	border: solid;
	border-color: #ffffff;
	border-width: thick;
}

h3 {
	color: #fff1e6;
}

#cart-wrapper {
	text-align: center;
}

.fa-stack[data-count]:after{
  position: absolute;
  right: 0%;
  top: 0%;
  content: attr(data-count);
  font-size: 40%;
  padding: .6em;
  border-radius: 999px;
  line-height: .75em;
  color: white;
  color: #28a745;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: white;
  border-style: solid;
}
.fa-circle {
  color: #fff1e6;
}

.red-cart {
	color: #28a745;
}

#mp1-added{
	color: #577590
}

#mp2-added{
	color: #577590
}

#mp3-added{
	color: #577590
}

#mp4-added{
	color: #577590
}
